interactions:
  - request:
      body: null
      headers:
        Content-type:
          - application/json
      method: GET
      uri: https://gitlab.com/api/v4/groups/ubports%2Fdevelopment%2Fcore%2Fflatpak
    response:
      body:
        string:
          '{"id":10853245,"web_url":"https://gitlab.com/groups/ubports/development/core/flatpak","name":"Flatpak","path":"flatpak","description":"","visibility":"public","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"maintainer","emails_disabled":false,"emails_enabled":true,"show_diff_preview_in_email":true,"mentions_disabled":null,"lfs_enabled":true,"archived":false,"math_rendering_limits_enabled":true,"lock_math_rendering_limits_enabled":false,"default_branch":null,"default_branch_protection":2,"default_branch_protection_defaults":{"allowed_to_push":[{"access_level":40}],"allow_force_push":false,"allowed_to_merge":[{"access_level":40}]},"avatar_url":null,"request_access_enabled":true,"full_name":"UBports
          / Development / Core /
          Flatpak","full_path":"ubports/development/core/flatpak","created_at":"2021-02-02T22:04:20.507Z","parent_id":4298794,"organization_id":1,"shared_runners_setting":"enabled","max_artifacts_size":null,"marked_for_deletion_on":null,"ldap_cn":null,"ldap_access":null,"wiki_access_level":"enabled","shared_with_groups":[],"projects":[{"id":27497936,"description":"Content
          Hub stub that forwards as much as possible to QFileDialog and possibly xdg
          portals","name":"Content Stub","name_with_namespace":"UBports / Development /
          Core / Flatpak / Content
          Stub","path":"content-stub","path_with_namespace":"ubports/development/core/flatpak/content-stub","created_at":"2021-06-16T22:54:57.158Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:ubports/development/core/flatpak/content-stub.git","http_url_to_repo":"https://gitlab.com/ubports/development/core/flatpak/content-stub.git","web_url":"https://gitlab.com/ubports/development/core/flatpak/content-stub","readme_url":null,"forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2024-04-22T02:05:01.837Z","visibility":"public","namespace":{"id":10853245,"name":"Flatpak","path":"flatpak","kind":"group","full_path":"ubports/development/core/flatpak","parent_id":4298794,"avatar_url":null,"web_url":"https://gitlab.com/groups/ubports/development/core/flatpak"},"container_registry_image_prefix":"registry.gitlab.com/ubports/development/core/flatpak/content-stub","_links":{"self":"https://gitlab.com/api/v4/projects/27497936","issues":"https://gitlab.com/api/v4/projects/27497936/issues","merge_requests":"https://gitlab.com/api/v4/projects/27497936/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/27497936/repository/branches","labels":"https://gitlab.com/api/v4/projects/27497936/labels","events":"https://gitlab.com/api/v4/projects/27497936/events","members":"https://gitlab.com/api/v4/projects/27497936/members","cluster_agents":"https://gitlab.com/api/v4/projects/27497936/cluster_agents"},"marked_for_deletion_at":null,"marked_for_deletion_on":null,"packages_enabled":true,"empty_repo":false,"archived":false,"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2021-06-17T22:54:57.186Z"},"repository_object_format":"sha1","issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","model_registry_access_level":"enabled","package_registry_access_level":"public","emails_disabled":false,"emails_enabled":true,"show_diff_preview_in_email":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":2379787,"import_status":"none","open_issues_count":0,"description_html":"\u003cp
          data-sourcepos=\"1:1-1:90\" dir=\"auto\"\u003eContent Hub stub that forwards
          as much as possible to QFileDialog and possibly xdg
          portals\u003c/p\u003e","updated_at":"2024-04-22T02:42:11.039Z","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","merge_request_title_regex":null,"merge_request_title_regex_description":null,"squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"max_artifacts_size":null,"approvals_before_merge":0,"mirror":false,"external_authorization_classification_label":"","requirements_enabled":true,"requirements_access_level":"enabled","security_and_compliance_enabled":false,"compliance_frameworks":[],"issues_template":null,"merge_requests_template":null,"merge_pipelines_enabled":false,"merge_trains_enabled":false,"merge_trains_skip_train_allowed":false,"only_allow_merge_if_all_status_checks_passed":false,"allow_pipeline_trigger_approve_deployment":false,"prevent_merge_without_jira_issue":false,"duo_remote_flows_enabled":true,"duo_foundational_flows_enabled":true,"duo_sast_fp_detection_enabled":false,"spp_repository_pipeline_access":false},{"id":10965795,"description":"","name":"Ubuntu
          Touch Flatpak Runtime","name_with_namespace":"UBports / Development / Core /
          Flatpak / Ubuntu Touch Flatpak
          Runtime","path":"ubuntu-touch-flatpak-runtime","path_with_namespace":"ubports/development/core/flatpak/ubuntu-touch-flatpak-runtime","created_at":"2019-02-21T18:31:11.781Z","default_branch":"master","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:ubports/development/core/flatpak/ubuntu-touch-fla[...]
  - request:
      body: null
      headers:
        Content-type:
          - application/json
      method: GET
      uri: https://gitlab.com/api/v4/groups/10853245/subgroups?all_available=True
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json
        ETag:
          - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
        Link:
          - <https://gitlab.com/api/v4/groups/10853245/subgroups?all_available=true&id=10853245&order_by=name&owned=false&page=1&per_page=20&sort=asc&statistics=false&with_custom_attributes=false>;
            rel="first",
            <https://gitlab.com/api/v4/groups/10853245/subgroups?all_available=true&id=10853245&order_by=name&owned=false&page=1&per_page=20&sort=asc&statistics=false&with_custom_attributes=false>;
            rel="last"
        gitlab-lb:
          - haproxy-main-42-lb-gprd
        gitlab-sv:
          - api-gke-us-east1-d
        ratelimit-limit:
          - "2000"
        ratelimit-name:
          - throttle_authenticated_api
        ratelimit-observed:
          - "2"
        ratelimit-remaining:
          - "1998"
        ratelimit-reset:
          - "1768945740"
        x-gitlab-meta:
          - '{"correlation_id":"9c11c65944d91c8c-ATL","version":"1"}'
        x-next-page:
          - ""
        x-page:
          - "1"
        x-per-page:
          - "20"
        x-prev-page:
          - ""
        x-total:
          - "0"
        x-total-pages:
          - "1"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-type:
          - application/json
      method: GET
      uri: https://gitlab.com/api/v4/projects/10965795
    response:
      body:
        string:
          '{"id":10965795,"description":"","name":"Ubuntu Touch Flatpak
          Runtime","name_with_namespace":"UBports / Development / Core / Flatpak /
          Ubuntu Touch Flatpak
          Runtime","path":"ubuntu-touch-flatpak-runtime","path_with_namespace":"ubports/development/cor[...]
  - request:
      body: null
      headers:
        Content-type:
          - application/json
      method: GET
      uri: https://gitlab.com/api/v4/projects/10965795/issues?page=1&per_page=100&updated_before=2026-01-20+21%3A48%3A13&order_by=updated_at&scope=all&sort=asc&state=all
    response:
      body:
        string:
          "[{\"id\":89015244,\"iid\":2,\"project_id\":10965795,\"title\":\"Disable more
          unit tests\",\"description\":\"We are not running unit tests anyway, so
          building them wastes
          time.\",\"state\":\"opened\",\"created_at\":\"2021-06-21T08:31:40.562Z\",\"updated_at\":\"2021-06-21T08:31:40.562Z\",\"closed_at\":null,\"closed_by\":null,\"labels\":[],\"milestone\":null,\"assignees\":[],\"author\":{\"id\":2379787,\"username\":\"jbb\",\"public_email\":\"\",\"name\":\"Jonah
          Br\xFCchert\",\"state\":\"active\",\"locked\":false,\"avatar_url\":\"https://gitlab.com/uploads/-/system/user/avatar/2379787/avatar.png\",\"web_url\":\"https://gitlab.com/jbb\"},\"type\":\"ISSUE\",\"assignee\":null,\"user_notes_count\":0,\"merge_requests_count\":0,\"upvotes\":0,\"downvotes\":0,\"due_date\":null,\"confidential\":false,\"discussion_locked\":null,\"issue_type\":\"issue\",\"web_url\":\"https://gitlab.com/ubports/development/core/flatpak/ubuntu-touch-flatpak-runtime/-/issues/2\",\"time_stats\":{\"time_estimate\":0,\"total_time_spent\":0,\"human_time_estimate\":null,\"human_total_time_spent\":null},\"task_completion_status\":{\"count\":0,\"completed_count\":0},\"weight\":null,\"blocking_issues_count\":0,\"has_tasks\":true,\"task_status\":\"0
          of 0 checklist items
          completed\",\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/10965795/issues/2\",\"notes\":\"https://gitlab.com/api/v4/projects/10965795/issues/2/notes\",\"award_emoji\":\"https://gitlab.com/api/v4/projects/10965795/issues/2/award_emoji\",\"project\":\"https://gitlab.com/api/v4/projects/10965795\",\"closed_as_duplicate_of\":null},\"references\":{\"short\":\"#2\",\"relative\":\"#2\",\"full\":\"ubports/development/core/flatpak/ubuntu-touch-flatpak-runtime#2\"},\"severity\":\"UNKNOWN\",\"moved_to_id\":null,\"imported\":false,\"imported_from\":\"none\",\"service_desk_reply_to\":null,\"epic_iid\":null,\"epic\":null,\"iteration\":null,\"health_status\":null},{\"id\":88757249,\"iid\":1,\"project_id\":10965795,\"title\":\"Find
          a place to store the repository\",\"description\":\"Hosting it on GitLab
          artifacts has problems:\\n* our repository is already too large and not
          accepted by GitLab any more\\n* GitLab artifacts is really slow for many
          individual files like a flatpak repository.\\n\\nIn the beginning we stored
          the repository on https://images.plasma-mobile.org/, maybe we could do that
      [...]
[...]
  - request:
      body: null
      headers:
        Content-type:
          - application/json
      method: GET
      uri: https://gitlab.com/api/v4/projects/10965795/repository/commits?page=1&per_page=100&until=2026-01-20+21%3A48%3A13
    response:
      body:
        string:
          "[{\"id\":\"a2637383d328f3c0ecd157026aa14355dcdf2b3f\",\"short_id\":\"a2637383\",\"created_at\":\"2025-07-25T16:31:54.000+02:00\",\"parent_ids\":[\"7517ba1c5c2a7cfc0d9e6c8cde8e2c4cd429c789\"],\"title\":\"Make
          it build again\",\"message\":\"Make it build
          again\\n\",\"author_name\":\"Jonah
          Br\xFCchert\",\"author_email\":\"jbb@kaidan.im\",\"authored_date\":\"2025-07-25T16:31:54.000+02:00\",\"committer_name\":\"Jonah
          Br\xFCchert\",\"committer_email\":\"jbb@kaidan.im\",\"committed_date\":\"2025-07-25T16:31:54.000+02:00\",\"trailers\":{},\"extended_trailers\":{},\"web_url\":\"https://gitlab.com/ubports/development/core/flatpak/ubuntu-touch-flatpak-runtime/-/commit/a2637383d328f3c0ecd157026aa14355dcdf2b3f\"},{\"id\":\"7517ba1c5c2a7cfc0d9e6c8cde8e2c4cd429c789\",\"short_id\":\"7517ba1c\",\"created_at\":\"2025-01-04T22:16:48.000+01:00\",\"parent_ids\":[\"fcc1ef74de76ce3ee6f16f46761d532e6bc03d29\"],\"title\":\"Fix
          build with latest dependencies\",\"message\":\"Fix build with latest
          dependencies\\n\",\"author_name\":\"Jonas
          He[...]
[...]
  - request:
      body: null
      headers:
        Content-type:
          - application/json
      method: GET
      uri: https://gitlab.com/api/v4/projects/10965795/merge_requests?page=1&per_page=100&updated_before=2026-01-20+21%3A48%3A13&order_by=updated_at&scope=all&sort=asc&state=all
    response:
      body:
        string:
          "[{\"id\":85913689,\"iid\":2,\"project_id\":10965795,\"title\":\"Update
          runtime and package teleports\",\"description\":\"There are a few problems
          remaining, obviously:\\n- Icons are missing (which i think was fixed by
          applying a patch again)\\n- Some texts are missing, I will investigate about
          those\\n- ContentHub integration was patched out because i was too lazy to
          package all that stuff for now\\n- Ubuntu.Connectivity Stuff was patched out,
          i'm not sure if that stuff is useful anyway\\n- I could not figure out how to
          get it to find and rename the icon for teleports\\n\\nAll the changes to the
          runtime were basically necessary to get it to build
          again\",\"state\":\"merged\",\"created_at\":\"2021-01-24T23:03:36.633Z\",\"updated_at\":\"2021-01-25T21:04:17.319Z\",\"merged_by\":{\"id\":2379787,\"username\":\"jbb\",\"public_email\":\"\",\"name\":\"Jonah
          Br\xFCchert\",\"state\":\"active\",\"locked\":false,\"avatar_url\":\"https://gitlab.com/uploads/-/system/user/avatar/2379787/avatar.png\",\"web_url\":\"https://gitlab.com/jbb\"},\"merge_user\":{\"id\":2379787,\"username\":\"jbb\",\"public_email\":\"\",\"name\":\"Jonah
          Br\xFCchert\",\"state\":\"active\",\"locked\":false,\"avatar_url\":\"https://gitlab.com/uploads/-/system/user/avatar/2379787/avatar.png\",\"web_url\":\"https://gitlab.com/jbb\"},\"merged_at\":\"2021-01-25T21:04:17.358Z\",\"closed_by\":null,\"closed_at\":null,\"target_branch\":\"master\",\"source_branch\":\"work/update\",\"user_notes_count\":3,\"upvotes\":0,\"downvotes\":0,\"author\":{\"id\":348911,\"username\":\"TobiasFella\",\"public_email\":\"\",\"name\":\"Tobias
          Fella\",\"state\":\"active\",\"locked\":false,\"avatar_url\":\"https://secure.gravatar.com/avatar/8b03ad6d453517e18dd43b4402ba6f00657c609dff9193664da2d9e21c273586?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/TobiasFella\"},\"assignees\":[],\"assignee\":null,\"reviewers\":[],\"source_project_id\":23893173,\"target_project_id\":10965795,\"labels\":[],\"draft\":false,\"imported\":false,\"imported_from\":\"none\",\"work_in_progress\":false,\"milestone\":null,\"merge_when_pipeline_succeeds\":false,\"merge_status\":\"can_be_merged\",\"detailed_merge_status\":\"not_open\",\"merge_after\":null,\"sha\":\"a93439b7683dd40441444ef04a3356d8de007c75\",\"merge_commit_sha\":\"a93439b7683dd40441444ef04a3356d8de007c75\",\"squash_commit_sha\":null,\"discussion_locked\":null,\"should_remove_source_branch\":null,\"force_remove_source_branch\":true,\"prepared_at\":\"2021-01-24T23:03:36.633Z\",\"allow_collaboration\":true,\"allow_maintainer_to_push\":true,\"reference\":\"!2\",\"references\":{\"short\":\"!2\",\"relative\":\"!2\",\"full\":\"ubports/development/core/flatpak/ubuntu-touch-flatpak-runtime!2\"},\"web_url\":\"https://gitlab.com/ubports/development/core/flatpak/ubuntu-touch-flatpak-runtime/-/merge_requests/2\",\"time_stats\":{\"time_estimate\":0,\"total_time_spent\":0,\"human_time_estimate\":null,\"human_total_time_spent\":null},\"squash\":true,\"squash_on_merge\":true,\"task_completion_status\":{\"count\":0,\"completed_count\":0},\"has_conflicts\":false,\"blocking_discussions_resolved\":true,\"approvals_before_merge\":null},{\"id\":86200260,\"iid\":3,\"project_id\":10965795,\"title\":\"Use
          1.6 of tdlib\",\"description\":\"Fixes showing the message sender's
          names\",\"state\":\"merged\",\"created_at\":\"2021-01-26T20:19:44.171Z\",\"updated_at\":\"2021-01-27T20:14:47.467Z\",\"merged_by\":{\"id\":2379787,\"username\":\"jbb\",\"public_email\":\"\",\"name\":\"Jonah
          Br\xFCchert\",\"state\":\"active\",\"locked\":false,\"avatar_url\":\"https://gitlab.com/up[...]
